* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    outline: 2px solid #000000;
    display: grid;
    grid-template-columns:  10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-template-rows:  10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.baseField {
    cursor: pointer;
    user-select: none;
    position: relative;
}

.black {
    background-color: Black;
}

.black_player {
    width: 10vh;
    height: 10vh;
    scale: 0.9;
    filter: brightness(0) saturate(100%) invert(30%) sepia(5%) saturate(36%) hue-rotate(331deg) brightness(97%) contrast(84%);
    cursor: pointer;
    user-select: none;
}

.black:hover {
    background-color: #3E3E3E;
}

.white {
    background-color: white;
}

.white_player {
    width: 10vh;
    height: 10vh;
    scale: 0.9;
    filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(2%) hue-rotate(65deg) brightness(111%) contrast(101%);
    cursor: pointer;
    user-select: none;
}

.white:hover {
    background-color: #E3E3E3;
}

.active {
    background-color: #84b96f;
}

.active:hover {
    background-color: #719E5F;
}

.active:active {
    /* Add styles for active state if needed */
}

.errorHighlight {
    position: relative; /* Ensure it is positioned relative to its parent */
}

.errorHighlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 76, 76, 1);
    opacity: 0; /* Start with no visibility */
    animation: fadeInOut 0.3s ease-in-out; /* Adjust duration and iteration as needed */
    pointer-events: none; /* Prevent interaction with the overlay */
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* smooth-spot für Animationen: 0.3s */